/data_entry_app/.idea
/data_entry_app/nbproject/private/
/server/nbproject/
/server/ext/
/server/yii/
/mobile/mockAPI
mobile/package-lock.json
/.idea
.idea/modules.xml
.idea/dialog-ssa.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
bin
test-output
/android/app/src/main/assets/index.android.bundle.meta
/android/app/src/main/assets/index.android.bundle
mobile/yarn.lock
.DS_Store
/android/cem-stats-library-release-2.1.16/.settings
/android/.settings
/android/app/.settings
/android/app/.classpath
/node_modules
/android/app/build
/android/build

